# URDF
# *.urdf

# Editors
.vscode/
.cursor/
.ruff_cache/

# Acados
acados/
c_generated_code/
acados_*

# Casadi
casadi_c*

# Python
__pycache__/
*.py[cod]

# Results/output data
results/
# pixi environments
.pixi/*
!.pixi/config.toml

build/
log/
install/

ros1/