<?xml version="1.0" encoding="utf-8"?>
<robot name="aws_small_warehouse" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="aws_small_warehouse_base_link"/>

  <link name="aws_robomaker_warehouse_ShelfF_01_001_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfF_01/meshes/aws_robomaker_warehouse_ShelfF_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfF_01/meshes/aws_robomaker_warehouse_ShelfF_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfF_01_001_joint" type="fixed">
    <origin xyz="-5.79514 -0.956635 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfF_01_001_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_WallB_01_001_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_WallB_01/meshes/aws_robomaker_warehouse_WallB_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_WallB_01/meshes/aws_robomaker_warehouse_WallB_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_WallB_01_001_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_WallB_01_001_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfE_01_001_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfE_01_001_joint" type="fixed">
    <origin xyz="4.73156 0.57943 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfE_01_001_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfE_01_002_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfE_01_002_joint" type="fixed">
    <origin xyz="4.73156 -4.82705 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfE_01_002_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfE_01_003_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfE_01/meshes/aws_robomaker_warehouse_ShelfE_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfE_01_003_joint" type="fixed">
    <origin xyz="4.73156 -8.6651 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfE_01_003_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfD_01_001_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfD_01_001_joint" type="fixed">
    <origin xyz="4.73156 -1.24267 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfD_01_001_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfD_01_002_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfD_01_002_joint" type="fixed">
    <origin xyz="4.73156 -3.03855 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfD_01_002_link"/>
  </joint>

  <link name="aws_robomaker_warehouse_ShelfD_01_003_link">
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find mm_assets)/scenes/meshes/aws_small_warehouse/models/aws_robomaker_warehouse_ShelfD_01/meshes/aws_robomaker_warehouse_ShelfD_01_collision.DAE" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <joint name="aws_robomaker_warehouse_ShelfD_01_003_joint" type="fixed">
    <origin xyz="4.73156 -6.75054 0" rpy="0 0 0"/>
    <parent link="aws_small_warehouse_base_link"/>
    <child link="aws_robomaker_warehouse_ShelfD_01_003_link"/>
  </joint>

</robot>
